.table {
  margin: 20px auto;
}

.head {
  background-color: #9ecaf6;
  color: white;
  text-transform: uppercase;
}

.table td,
.table th {
  padding: 10px 100px;
  text-align: center;
}

.table td {
  color: #959595;
}

.transaction:nth-child(even) {
  background-color: #f6f6f6;
}

.transaction:nth-child(odd) {
  background-color: white;
}

.type {
  text-transform: capitalize;
}
